
body {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #ECE0D1;
    color: #634832;
}

header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 0;
    background-color: #DBC1AC;
    color: #634832;
    border-bottom: 2px solid #38220F;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 15px auto;
    padding: 10px 0;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #38220F;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #634832;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #DBC1AC;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    font-weight: bold;
    color: #38220F;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-weight: bold;
    color: #38220F;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

h3 {
    font-weight: bold;
    color: #38220F;
    font-size: 1.3rem;
    margin-bottom: 8px;
}

p, ul li, figcaption {
    color: #634832;
    text-align: justify;
}

ul {
    margin-left: 20px;
    padding-left: 15px;
}

ul li {
    margin-bottom: 8px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

figure img {
    width: 200px;
    border-radius: 8px;
}

figcaption {
    font-style: italic;
    margin-top: 8px;
    color: #634832;
}

footer {
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #38220F;
    margin-top: 20px;
    background-color: #DBC1AC;
    color: #634832;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #38220F;
    transition: color 0.3s ease-in-out;
}

footer ul li a:hover {
    color: #634832;
}

footer p {
    margin-top: 10px;
}

footer .web-solutions {
    font-weight: bold;
    color: #38220F;
    margin-top: 15px;
}

.signature {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    color: #38220F;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        width: 100%;
    }

    main {
        width: 90%;
    }

    figure img {
        width: 100%;
        max-width: 300px;
    }
}
