<footer>
    <div class="footer-logo">
        <p>
            Designed by <a href="../../taylordigital.co/index.html" class="embed-link"><strong>Taylor Digital Solutions</strong></a>,
            <em><a href="https://www.freecodecamp.org/certification/benjqmin/responsive-web-design" class="embed-link">Certified in
                    Responsive Web Design</a> <a
                    href="https://www.freecodecamp.org/certification/benjqmin/javascript-algorithms-and-data-structures-v8" class="embed-link">and
                    JSS</a></em> ©2025
        </p>
    </div>
    <div class="breaker"></div>
    <div class="footer-validation">
        <p>
            <a href="https://validator.w3.org/check?uri=referer" class="embed-link" id="validation-link-html">
                <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
            </a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer" class="embed-link" id="validation-link-css">
                <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
            </a>
        </p>
    </div>
</footer>