<footer class="footer">
    <ul class="footer-links">
        <li><a href="https://github.com/benjqminn">GitHub</a></li>
        <li><a href="https://webpages.charlotte.edu/btayl106/">CLT Page</a></li>
        <li><a href="https://benjqminn.github.io">GitHub.io</a></li>
        <li><a href="itis3135/index.html">ITIS-3135</a></li>
        <li><a href="https://www.linkedin.com/in/btayl106/">LinkedIn</a></li>
    </ul>

    <div class="footer-logo">
        <img src="images/uncc__logo.png" alt="UNC Charlotte Logo">
        <p>
            Designed by <a href="taylordigital.co/index.html"><strong>Taylor Digital Solutions</strong></a>,
            <em><a href="https://www.freecodecamp.org/certification/benjqmin/responsive-web-design">Certified in
                    Responsive Web Design</a> <a
                    href="https://www.freecodecamp.org/certification/benjqmin/javascript-algorithms-and-data-structures-v8">and
                    JSS</a></em> ©2025
        </p>
    </div>

    <div class="footer-validation">
        <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
            <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
        </a>
    </div>
</footer>