<header class="site-header">
    <div class="branding">
        <h1>Benjamin Taylor's Brawny Toucan ~ ITIS 3135</h1>
        <h2>UNC Charlotte | Computer Science Student</h2>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li class="dropdown">
                <a href="#">My Projects ▼</a>
                <ul class="dropdown-content">
                    <li><a href="../brawnytoucan_supps/home.html">Supplement Company</a></li>
                    <li><a href="stuff/weBPA gE😊.html">CRAPPY Webpage</a></li>
                    <li><a href="taylordigital.co/index.html">Design Firm</a></li>
                    <li><a href="website_evaluations.html">Website Evaluations</a></li>
                    <li><a href="tables.html">Employee Tables</a></li>
                    <li><a href="forms.html">Company Form</a></li>
                    <li><a href="hobby/index.html">Hobby Page</a></li>
                    <li><a href="byo_intro.html">BYO Intro Page</a></li>
                    <li><a href="project_overview.html">Client Project Overview</a></li>
                    <li><a href="client_project/index.html">Client Website</a></li>
                    <li><a href="slideshow.html">Slideshow</a></li>
                    <li><a href="drawing.html">Interactive Drawing</a></li>
                </ul>
            </li>
            <li><a href="../index.html">Back to UNCC</a></li>
        </ul>
    </nav>
</header>